h1,
h3 {
    font-size: 30px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    margin: 5px;
}

button {
    display: block;
    margin: auto;
}

.container {
    width: 400px;
    margin: auto;
    cursor: url(../img/semprotan.png), auto;
}

.container:active {
    cursor: url(../img/semprotan1.png), auto;
}

.awan {
    width: 150px;
    height: 140px;
    position: relative;
    overflow: hidden;
    float: left;
}

.awan::after {
    content: '';
    display: block;
    width: 200px;
    height: 100px;
    background: url(../img/awan.png) bottom center no-repeat;
    background-size: 80%;
    position: absolute;
    bottom: -10px;
}

.corona {
    width: 100%;
    height: 100%;
    background: url(../img/corona.png) bottom center no-repeat;
    background-size: 60%;
    position: absolute;
    top: 100px;
    transition: top 0.3s;
}

.awan.muncul .corona {
    top: -30px;

}